docker {
    enabled = true
}

params {
    sequences = 'sequences/*.fa'  // Path to the sequence files

    annotate {
        kingdom = 'Bacteria'
        genus = 'Streptococcus'
        species = 'pneumoniae'
        prefix = ''
    }

    panaroo {
        clean_mode = 'sensitive'
        analysis_mode = 'pan'
        aligner = 'mafft'
        threads = 4
    }

    dwgsim {
        error_rate = 0
        indel_fraction = 0
        num_reads = 100000
        read_len_1 = 150
        read_len_2 = 150
    }

    snippy {
        mincov = 10
        minfrac = 0.9
        maxsoft = 10
        minqual = 20
        cpus = 4
    }

    detectStopCodons {
        input_format = 'fasta'
        stop_codon_symbol = '*'
    }
}

process {
    withName: annotate {
        container = 'staphb/prokka:latest'
        memory = '6 GB'
        cpus = 4
        time = '2h'
        publishDir = [
            path: "ANNOTATION",
            mode: 'copy',
            overwrite: true,
            pattern: '*.gff'
        ]
    }

    withName: panaroo {
        container = 'staphb/panaroo:latest'
        memory = '6 GB'
        cpus = 4
        time = '6h'
        publishDir = [
            path: "panaroo_output",
            mode: 'copy',
            overwrite: true,
            pattern: '*'
        ]
    }
    
    withName: dwgsim {
        container = 'biocontainers/dwgsim:v0.1.12-2-deb_cv1'
        memory = '4 GB'
        cpus = 2
        time = '1h'
        publishDir = [
            path: "dwgsim_output",
            mode: 'copy',
            overwrite: true
        ]
    }

    withName: snippy {
        container = 'staphb/snippy:4.6.0'
        memory = '6 GB'
        cpus = 4
        time = '5h'
        publishDir = [
            path: "snippy_output",
            mode: 'copy',
            overwrite: true
        ]
    }

    withName: detectStopCodons {
        container = 'python-biopython-pandas:latest'
        memory = '6 GB'
        cpus = 2
        time = '1h30m'
        publishDir = [
            path: "detectStopCodons_results",
            mode: 'copy',
            overwrite: true
        ]
    }
}

