docker {
    enabled = true
}

params {
    sequences = 'sequences/*.fa'  // Path to the sequence files

    annotate {
        prefix = ''                            
    }

    panaroo {
    	clean_mode = 'strict'
    	analysis_mode = 'pan'
    	aligner = 'mafft'
    	threads = 4
    }

    dwgsim {
        error_rate = 0
        indel_fraction = 0            
        num_reads = 100000
        read_len_1 = 150
        read_len_2 = 150       
    }

    snippy {
        mincov = 10
        minfrac = 0.7
        maxsoft = 10
        minqual = 10
        cpus = 4
    }

}

process {
    withName: annotate {
        container = 'staphb/prokka:latest'
        memory = '6 GB'
        cpus = 4
        time = '2h'
        publishDir = [
            path: "ANNOTATION",
            mode: 'copy',
            overwrite: true
        ]
    }

    withName: panaroo {
        container = 'staphb/panaroo:latest'
        memory = '6 GB'
        cpus = 4
        time = '6h'
        publishDir = [
            path: "panaroo_output",
            mode: 'copy',
            overwrite: true
        ]
    }
    
    withName: dwgsim {
        container = 'dwgsim-with-ps:latest'
        memory = '4 GB'
        cpus = 2
        time = '1h'
        publishDir = [
            path: "dwgsim_output",
            mode: 'copy',
            overwrite: true
        ]
        
    }

    withName: snippy {
        container = 'staphb/snippy:4.6.0'
        memory = '6 GB'
        cpus = 4
        time = '5h'
        publishDir = [
            path: "snippy_output",
            mode: 'copy',
            overwrite: true
        ]
    }

    withName: detectStopCodons {
        container = 'python-biopython-pandas-ps:latest'
        memory = '6 GB'
        cpus = 2
        time = '1h30m'
        publishDir = [
            path: "detectStopCodons_results",
            mode: 'copy',
            overwrite: true
        ]
    }
    
    withName: genedescription {
        container = 'python-biopython-pandas-ps:latest'
        memory = '4 GB'
        cpus = 2
        time = '1h'
        publishDir = [
            path: "genedescription_output",
            mode: 'copy',
            overwrite: true
        ]
    }
    
}



